<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874776071047-sge0k4gs6oua8aqvef6qkq4jdtu76pbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874776071047-sge0k4gs6oua8aqvef6qkq4jdtu76pbe</string>
	<key>API_KEY</key>
	<string>AIzaSyB5DCjYWvqvs6DBzwalH3KmXsLqEIlDqfk</string>
	<key>GCM_SENDER_ID</key>
	<string>874776071047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.marionfanjaud.Leocha-IOS</string>
	<key>PROJECT_ID</key>
	<string>leocha-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>leocha-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874776071047:ios:cdb6eab7a6affd2a</string>
	<key>DATABASE_URL</key>
	<string>https://leocha-ios.firebaseio.com</string>
</dict>
</plist>